In [ ]:
#123B2F153
#Perform the following operations using Python on the Air  quality data sets a. Data cleaning b. Data transformation

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16218 entries, 0 to 16217
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       16218 non-null  int64
 1   Indicator ID    16218 non-null  int64
 2   Name            16218 non-null  object
 3   Measure         16218 non-null  object
 4   Measure Info    16218 non-null  int64
 5   Geo Type Name   16218 non-null  object
 6   Geo Join ID     16218 non-null  int64
 7   Geo Place Name  16218 non-null  int64
 8   Time Period     16218 non-null  object
 9   Start_Date      16218 non-null  object
 10  Data Value      16218 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 1.4+ MB

In [34]:
df.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
0,172653,375,Nitrogen dioxide (NO2),Mean,6,UHF34,203,5,Annual Average 2011,12/01/2010,0.249703
1,172585,375,Nitrogen dioxide (NO2),Mean,6,UHF34,203,5,Annual Average 2009,12/01/2008,0.326151
2,336637,375,Nitrogen dioxide (NO2),Mean,6,UHF34,204,30,Annual Average 2015,01/01/2015,-0.041550
3,336622,375,Nitrogen dioxide (NO2),Mean,6,UHF34,103,38,Annual Average 2015,01/01/2015,-0.010127
4,172582,375,Nitrogen dioxide (NO2),Mean,6,UHF34,104,73,Annual Average 2009,12/01/2008,0.133858

In [22]:
df = pd.read_csv('C:/Users/prati.PRATIK.001/Desktop/FODS/Dataset/Air_Quality.csv')

In [23]:
df = df.drop(columns=['Message'])

In [24]:
df = df.drop_duplicates()

In [25]:
df['Data Value'] = df['Data Value'].fillna(df['Data Value'].mean())

In [26]:
label_encoder_geo_place = LabelEncoder()
label_encoder_measure_info = LabelEncoder()
df['Geo Place Name'] = label_encoder_geo_place.fit_transform(df['Geo Place Name'])
df['Measure Info'] = label_encoder_measure_info.fit_transform(df['Measure Info'])

In [27]:
scaler = StandardScaler()
df[['Data Value']] = scaler.fit_transform(df[['Data Value']])

In [28]:
X = df.drop(columns=['Data Value'])  
y = df['Data Value']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)
print(df.head())

X_train shape: (12974, 10)
X_test shape: (3244, 10)
y_train shape: (12974,)
y_test shape: (3244,)
   Unique ID  Indicator ID                    Name Measure  Measure Info  \
0     172653           375  Nitrogen dioxide (NO2)    Mean             6
1     172585           375  Nitrogen dioxide (NO2)    Mean             6
2     336637           375  Nitrogen dioxide (NO2)    Mean             6
3     336622           375  Nitrogen dioxide (NO2)    Mean             6
4     172582           375  Nitrogen dioxide (NO2)    Mean             6

  Geo Type Name  Geo Join ID  Geo Place Name          Time Period  Start_Date  \
0         UHF34          203               5  Annual Average 2011  12/01/2010
1         UHF34          203               5  Annual Average 2009  12/01/2008
2         UHF34          204              30  Annual Average 2015  01/01/2015
3         UHF34          103              38  Annual Average 2015  01/01/2015
4         UHF34          104              73  Annual Average 2009  12/01/2008

   Data Value
0    0.249703
1    0.326151
2   -0.041550
3   -0.010127
4    0.133858